{% set main_title = '__app_name__' %}
{% set page_title = page_title | default(main_title) %}


<!DOCTYPE html>
<html>

<head>
  <title>{{ page_title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

  {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

    {% block extra_styles %}
    {% endblock extra_styles %}
  {% endblock styles %}

  {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  {% endblock scripts %}
</head>

<body>
  <div class="ui grid">
    <div class="ui top fixed inverted menu">
      <a href="{{ url_for('index') }}" class="header item">{{ main_title }}</a>
      {% block navbar_items %}
      {% endblock navbar_items %}
    </div>
  </div>
  <div class="ui grid content">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>